.name {
  margin: 10px 0;
}

.tag {
  margin: 5px 0;
  text-transform: uppercase;
}

.location {
  font-size: 14px;
  line-height: 21px;
}

.profile {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.profile .avatar {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  width: 143px;
  transition: all ease 0.2s;
}

.avatar:hover {
  transform: rotateZ(-15deg);
}

.statsTitle {
  margin: 5px 0;
  text-transform: uppercase;
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.stats {
  display: flex;
  justify-content: space-evenly;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .stats li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
} */

.stats li {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 20px;
}

.stats .label {
  margin-bottom: 10px;
}

.stats li:nth-child(even) {
  border-right: 1px solid #2d2747;
  border-left: 1px solid #2d2747;
  padding-left: 40px;
  padding-right: 40px;
}
